body {
    display: grid;
    place-items: center;
    user-select: none;
}

.main {
    display: flex;
    gap: 200px;
}

.left h3 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px;
}
.cupcake-large {
    position: relative;
    top: -100px;
    width: 550px;
    transition: all 0.1s ease-in-out;
}
.cupcake-large:hover {
    opacity: 0.9;
    cursor: pointer;
}

.cupcake-large:active {
    opacity: 0.8;
    transform: scale(1.05);
}

.upgrade-image {
    width:100px;
    align-items: center;
}

.upgrade {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 4px solid black;
    width: 330px;
    height: 60px;
    padding: 10px;
}

.cupcake-small {
    position: relative;
    top: -50px;
    right: -50px;
}

.cupcakes-clicked {
    opacity: 1;
    font-family: 'Comic Sans MS', cursive, sans-serif;
}